{{ 'section-main-page.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="flex page-width [100px] mt-[100px]">
  <div class="section-{{ section.id }}-padding mt- ">
    <h1 class="main-page-title page-title h0{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
      {{ page.title | escape }}
    </h1>
    <div class="rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
      Welcome to  Escents, where luxury and affordability seamlessly intertwine. Established in 2023, our brand is built on the belief that everyone should have access to premium perfumes. Our focus stays on essentiality and minimalism,  in both design and fragrance curation, creating an olfactory experience that is both sophisticated and accessible.<br><br>

      As part of our "New Month, New Escent" plan, we introduce a new fragrance every month keeping our collection dynamic and exciting while fostering a sustainable approach by keeping our plastic usage to the minimum - we opt for corrugated paper packaging. <br><br>
      
      Join us on an aromatic journey where luxury meets affordability, and each fragrance embodies a commitment to simplicity and environmental stewardship.<br><br>
      
    </div>
    {{ 'about_us_image.png' | asset_url | img_tag }}
    <h1 class="mt-[50px] h0{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
      WHAT WE BELIEVE 
    </h1>
    <div class="rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
      <div class="text-[20px] font-bold mt-[18px]">Consistency</div>
      Consistency is a hallmark and we believe consistency in quality ensures customer satisfaction.
    </div>
    <div class="rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
      <div class="text-[20px] font-bold mt-[18px]">Ingredient</div>
      Each ingredient is obtained from a specific geographic location where it is renowned for its exceptional quality to serve you the best
    </div>
    <div class="rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
      <div class="text-[20px] font-bold mt-[18px]">Diversity</div>
      A diverse range of fragrances help consumer explore their style and taste. Explore your style with new Escents launching every month.
    </div>
  </div>
  {% comment %} <div class="w-[450px] font-bold ml-[50px]">
    Welcome to  Escents, where luxury and affordability seamlessly intertwine. Established in 2023, our brand is built on the belief that everyone should have access to premium perfumes. Our focus stays on essentiality and minimalism,  in both design and fragrance curation, creating an olfactory experience that is both sophisticated and accessible.

    At Escents, environmental consciousness is at the forefront of our ethos. Choosing to minimize our environmental footprint, we've adopted eco-friendly practices like corrugated paper packaging to reduce plastic usage. This intentional cahoice not only aligns with our core values but also contributes to a healthier planet. As a beacon of innovation, our "New Month, New Escent" plan introduces a monthly unveiling of a unique fragrance, keeping our collection dynamic and exciting while fostering a sustainable approach by discouraging fragrance hoarding. Join us on an aromatic journey where luxury meets affordability, and each fragrance embodies a commitment to simplicity and environmental stewardship.
  </div> {% endcomment %}
</div>

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
